.piece.br{background-image: url(../../assets/br.png);}
.piece.bn{background-image: url(../../assets/bn.png);}
.piece.bb{background-image: url(../../assets/bb.png);}
.piece.bq{background-image: url(../../assets/bq.png);}
.piece.bk{background-image: url(../../assets/bk.png);}
.piece.bp{background-image: url(../../assets/bp.png);}

.piece.wr{background-image: url(../../assets/wr.png);}
.piece.wn{background-image: url(../../assets/wn.png);}
.piece.wb{background-image: url(../../assets/wb.png);}
.piece.wq{background-image: url(../../assets/wq.png);}
.piece.wk{background-image: url(../../assets/wk.png);}
.piece.wp{background-image: url(../../assets/wp.png);}


.piece.p-77{transform: translate(700%,0%);}
.piece.p-76{transform: translate(600%,0%);}
.piece.p-75{transform: translate(500%,0%);}
.piece.p-74{transform: translate(400%,0%);}
.piece.p-73{transform: translate(300%,0%);}
.piece.p-72{transform: translate(200%,0%);}
.piece.p-71{transform: translate(100%,0%);}
.piece.p-70{transform: translate(0%,0%);}

.piece.p-67{transform: translate(700%,100%);}
.piece.p-66{transform: translate(600%,100%);}
.piece.p-65{transform: translate(500%,100%);}
.piece.p-64{transform: translate(400%,100%);}
.piece.p-63{transform: translate(300%,100%);}
.piece.p-62{transform: translate(200%,100%);}
.piece.p-61{transform: translate(100%,100%);}
.piece.p-60{transform: translate(0%,100%);}


.piece.p-07{transform: translate(700%,700%);}
.piece.p-06{transform: translate(600%,700%);}
.piece.p-05{transform: translate(500%,700%);}
.piece.p-04{transform: translate(400%,700%);}
.piece.p-03{transform: translate(300%,700%);}
.piece.p-02{transform: translate(200%,700%);}
.piece.p-01{transform: translate(100%,700%);}
.piece.p-00{transform: translate(0%,700%);}

.piece.p-17{transform: translate(700%,600%);}
.piece.p-16{transform: translate(600%,600%);}
.piece.p-15{transform: translate(500%,600%);}
.piece.p-14{transform: translate(400%,600%);}
.piece.p-13{transform: translate(300%,600%);}
.piece.p-12{transform: translate(200%,600%);}
.piece.p-11{transform: translate(100%,600%);}
.piece.p-10{transform: translate(0%,600%);}


